<%- include("./partials/header.ejs") %>
<body class="about-page">
    <%- include("./partials/Nav.ejs") %>

    <h1>About Page</h1>
    <p>Welcome to about page, where innovation meets style. Founded on the belief that shopping should be both exciting and effortless, we curate a collection of high-quality products that enhance your lifestyle. Whether you're searching for the latest in tech gadgets, fashion-forward apparel, or unique home decor, we're here to inspire and delight. Our commitment to excellence extends beyond our products; we strive to provide a seamless online shopping experience with secure transactions, fast delivery, and dedicated customer support. Join us in discovering new trends and timeless classics, crafted with care and delivered with passion. Your satisfaction is our priority, and we look forward to helping you find exactly what you're looking for.</p>
</body>
</html>